    <style>
        .header button:hover {
            background-color: #e6f3ff;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .game-card {
            background: white;
            border-radius: 8px;
            padding: 1px;
            text-align: center;
            margin-bottom: 20px;
        }

        .team{
            display: flex;        
            align-items: center;
        }

        .team-abrrev {
            justify-content: center;
            width: 70px;
            padding-right: 30px;
            font-size: medium;
        }
        .team-score {
            font-size: medium;
        }      

        .nav {
            display: flex;
            overflow-x: auto;
            background-color: #a3a3a3;
            padding: 1px;
            white-space: nowrap;            
        }

        .nav-item {
            display: inline-block;
            color: rgb(7, 7, 7);      
            padding: 10px;
            margin: 0 10px;
            background-color: #fafafa;
            border-radius: 8px;
            cursor: pointer;  

                   
        }
        .nav-item a {
            font-size: medium;
            text-decoration: none;
            color: rgb(7, 7, 7);
            
        }

        .nav-item:hover {
            background-color: #6592c2;
        }

        .nav-item img {
            height: 30px;
            width: 40px;
        }
    </style>

<div class="nav">
    <% if (games && games.length > 0) { %>
        <% games.forEach(dateEntry => { %>           
                <div><h3><%= dateEntry.games[0].today %></h3></div>
                <% dateEntry.games.forEach(game => { %>
                    <div class="nav-item">
                        <a href="/game/boxscore/<%= game.id %>">
                            <div style="display: flex; justify-content: space-between; font-size: medium; ">
                                <div><%= game.gameState %></div>
                                <div><%= game.formattedStartTime %></div>
                                
                            </div>
                            <div class="team">
                                <img src="<%= game.awayTeam.logo %>" alt="<%= game.awayTeam.name %>">
                                <div class="team-abrrev"><%= game.awayTeam.abbrev %></div>
                                <div class="team-score"><%= game.awayTeam.score %></div>
                            </div>
                            <div class="team">
                                <img src="<%= game.homeTeam.logo %>" alt="<%= game.homeTeam.name %>">
                                <div class="team-abrrev"><%= game.homeTeam.abbrev %></div>
                                <div class="team-score"><%= game.homeTeam.score %></div>
                            </div>
                        </a>
                    </div>
                <% }) %>
        <% }) %>
    <% } else { %>
        <div class="nav-item">Aucun match en cours</div>
    <% } %>
</div>





    




