<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Navbar -->
    <%- include('composant/navbar') %>
    <!-- Navbar -->
    <link rel="stylesheet" href="/css/accueilMembre.css">
    
    <meta charset="UTF-8">
    <title>Page du membre <%= username %></title>

</head>

<body>

    <div class="mt-4 container">
        <h1>Bienvenue, <%= username %>!</h1> 
        <p>Personnaliser votre page</p>
        <p>Choisissez votre équipe favorite :</p>
        <p id="selected-team-name" class="team-name-display">Aucune équipe sélectionnée</p>


        <!--  Liste des équipes sous forme de logos -->
        <div class="team-selection">
            <% equipes.forEach(equipe => { %>
                <img src="<%= equipe.logo %>" class="team-logo" data-team="<%= equipe.full_name %>" alt="<%= equipe.full_name %>">
            
            <% }); %>
        </div>

        <a href="http://localhost:3000" id="retour-accueil" class="left-align">Retour à l'accueil</a>
    </div>

    <!-- Ajout du script pour changer le fond d'écran -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const logos = document.querySelectorAll(".team-logo");
            const teamNameDisplay = document.getElementById("selected-team-name");

            
            logos.forEach(logo => {
                logo.addEventListener("click", () => {
                    const logoUrl = logo.getAttribute("src");
                    const teamName = logo.getAttribute("data-team"); // Récupère le nom de l'équipe
                    teamNameDisplay.textContent = teamName; // Met à jour le texte
                    document.body.style.setProperty('--background-image', `url('${logoUrl}')`);
                });
            });
        });
    </script>

    <%- include("composant/footer.ejs") %>

</body>
</html>
