<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/listeJoueur.css">
  <title><%= teamName.full_name  %></title>
</head>
<body>
  <%- include('composant/navbar') %> 

  <div class="mainContainer">
    <div class="playerContainer">
      <div style="text-align: center;"><h1><%= teamName.full_name  %></h1><h2>Formation</h2> </div>          
      <h3>Attaquant</h3>
      <div class="listeJoueur">
        <!--Entête-->
       <div class="containerEntete">
        <div>Joueur</div>
        <div>#</div>
        <div>Position</div>
        <div>Nationnaliter</div>
        <div>Grandeur(CM)</div>
        <div>Poids(KG)</div>
        <div>Date de naissance</div>
      </div>
       
       <!--Joueur-->
       <% const attaquant = joueurs.filter(joueur => joueur.position == "C" || joueur.position == "L" || joueur.position == "R"); %>
       <% attaquant.forEach(joueur => { %>
      <div class="containerJoueur">
        <div style="display: flex; ">
          <div class="playerImageContainer">
            <img  src="<%= joueur.headshot%>" alt="<%= joueur.firstName%> <%= joueur.lastName%>">
          </div>
          <div class="" style="width: 300px;">
            <a href="/<%= joueur.team %>/joueur/<%=joueur._id %>" style="text-decoration: none; color: black;">  
              <%= joueur.firstName.default%> <%= joueur.lastName.default%>
            </a>
          </div>
        </div>
        <div><%= joueur.sweaterNumber%></div>
        <div><%= joueur.position%></div>
        <div><%= joueur.nationality%></div>
        <div><%= joueur.heightInInches%></div>
        <div><%= joueur.weightInPounds%></div>
        <div><%= joueur.formattedBirthDate%></div>   
      </div>
      <% }) %>
    </div>  

    <!--Défenseur-->
    <div class="playerContainer">     
      <h3>Défenseur</h3>
      <div class="listeJoueur">
        <!--Entête-->
       <div class="containerEntete">
        <div>Joueur</div>
        <div>#</div>
        <div>Position</div>
        <div>Nationnaliter</div>
        <div>Grandeur(CM)</div>
        <div>Poids(KG)</div>
        <div>Date de naissance</div>
      </div>
       
       <!--DEF-->
       <% const def = joueurs.filter(joueur => joueur.position == "D"); %>
       <% def.forEach(joueur => { %>
      <div class="containerJoueur">
        <div style="display: flex; ">
          <div class="playerImageContainer">
            <img src="<%= joueur.headshot%>" alt="<%= joueur.firstName%> <%= joueur.lastName%>">
          </div>
          <div class="" style="width: 300px;">
            <a href="/<%= joueur.team %>/joueur/<%=joueur._id %>" style="text-decoration: none; color: black;">  
              <%= joueur.firstName.default%> <%= joueur.lastName.default%>
            </a>
          </div>
        </div>
        <div><%= joueur.sweaterNumber%></div>
        <div><%= joueur.position%></div>
        <div><%= joueur.nationality%></div>
        <div><%= joueur.heightInInches%></div>
        <div><%= joueur.weightInPounds%></div>
        <div><%= joueur.formattedBirthDate%></div>
        
      </div>
      <% }) %>
    </div> 

    <!--Gardien-->
    <div class="playerContainer">     
      <h3>Gardien</h3>
      <div class="listeJoueur">
        <!--Entête-->
       <div class="containerEntete">
        <div>Joueur</div>
        <div>#</div>
        <div>Position</div>
        <div>Nationnaliter</div>
        <div>Grandeur(CM)</div>
        <div>Poids(KG)</div>
        <div>Date de naissance</div>
      </div>
       
       <!--Joueur-->
       <% const gardien = joueurs.filter(joueur => joueur.position === "G"); %>
       <% gardien.forEach(joueur => { %>
      <div class="containerJoueur">
        <div style="display: flex; ">
          <div class="playerImageContainer">
            <img  src="<%= joueur.headshot%>" alt="<%= joueur.firstName%> <%= joueur.lastName%>">
          </div>
          <div class="" style="width: 300px;">
            <a href="/<%= joueur.team %>/joueur/<%=joueur._id %>" style="text-decoration: none; color: black;">  
              <%= joueur.firstName.default%> <%= joueur.lastName.default%>
            </a>
          </div>
        </div>
        <div><%= joueur.sweaterNumber%></div>
        <div><%= joueur.position%></div>
        <div><%= joueur.nationality%></div>
        <div><%= joueur.heightInInches%></div>
        <div><%= joueur.weightInPounds%></div>
        <div><%= joueur.formattedBirthDate%></div>
        
      </div>
      <% }) %>
    </div>   
  </div>
  
   <!--Footer-->
   <%- include('composant/footer') %>
   <!--Footer-->
</body>
</html>