<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<style>
  table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 10px;
    border-top: 2px solid #ccc;    
  }
  table th, td{
    text-align: center;
  }
  .box-img-player{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<body>
  <%- include('composant/navbar') %> 

  <div>
    <div><h1>Formation</h1></div>

    <% const attaquant = joueurs.filter(joueur => joueur.position == "C" || joueur.position == "L" || joueur.position == "R"); %>
    <h1>Attaquant</h1>
    <div>
    <% attaquant.forEach(joueur => { %>
      <table>
        <thead>
          <th>Joueur</th>
          <th>#</th>
          <th>Position</th>
          <th>Nationnaliter</th>
          <th>Grandeur</th>
          <th>Hauteur</th>
          <th>Date de naissance</th>
        </thead>
        <td class="box-img-player">
          <div>
            <img style="width: 75px; border-radius: 30%;" src="<%= joueur.headshot%>" alt="<%= joueur.firstName%> <%= joueur.lastName%>">
          </div>
          <div class="box-img-player">
            <%= joueur.firstName%> <%= joueur.lastName%>
          </div>
        </td>
        <td><%= joueur.sweaterNumber%></td>
        <td><%= joueur.position%></td>
        <td><%= joueur.nationality%></td>
        <td><%= joueur.heightInInches%></td>
        <td><%= joueur.weightInPounds%></td>
        <td><%= joueur.birthDate%></td>
      </table>
    <% }) %>
    </div>

    <div>
    <% const defenseur = joueurs.filter(joueur => joueur.position === "D"); %>
    <h1>Défenseur</h1>
    <% defenseur.forEach(joueur => { %>
      <table>
        <thead>
          <th>Joueur</th>
          <th>#</th>
          <th>Position</th>
          <th>Nationnaliter</th>
          <th>Grandeur</th>
          <th>Hauteur</th>
          <th>Date de naissance</th>
        </thead>
        <td><img style="width: 100px; border-radius: 30%;" src="<%= joueur.headshot%>" alt="<%= joueur.firstName%> <%= joueur.lastName%>">|<%= joueur.firstName%> <%= joueur.lastName%></td>
        <td><%= joueur.sweaterNumber%></td>
        <td><%= joueur.position%></td>
        <td><%= joueur.nationality%></td>
        <td><%= joueur.heightInInches%></td>
        <td><%= joueur.weightInPounds%></td>
        <td><%= joueur.birthDate%></td>
      </table>
    <% }) %>
  </div>

    <% const gardien = joueurs.filter(joueur => joueur.position === "G"); %>
    <h1>Gardien</h1>
    <div>
    <% gardien.forEach(joueur => { %>
      <table>
        <thead>
          <th>Joueur</th>
          <th>#</th>
          <th>Position</th>
          <th>Nationnaliter</th>
          <th>Grandeur</th>
          <th>Hauteur</th>
          <th>Date de naissance</th>
        </thead>
        <td><img style="width: 100px; border-radius: 30%;" src="<%= joueur.headshot%>" alt="<%= joueur.firstName%> <%= joueur.lastName%>">|<%= joueur.firstName%> <%= joueur.lastName%></td>
        <td><%= joueur.sweaterNumber%></td>
        <td><%= joueur.position%></td>
        <td><%= joueur.nationality%></td>
        <td><%= joueur.heightInInches%></td>
        <td><%= joueur.weightInPounds%></td>
        <td><%= joueur.birthDate%></td>
      </table>
    <% }) %>
  </div>
</div>

</body>
</html>