<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Équipes</title>
  <style> 
  
    .container {
      display: flex;
      justify-content: space-between; 
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      max-height: 120px;
    }   

    .boxscore{
        display: flex;
        align-items: center;
    }

    .gamestate{
        display: block;
        margin: 0 30px;
        text-align: center;
    }


    .container-awayTeam, .container-homeTeam {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 10px;
        
        border-radius: 5px;
     
    }
    .score-awayTeam, .score-homeTeam {
      display: flex;
        align-items: center;
        justify-content: center;
        background-color: #42486463;
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        width: 80px;
        text-align: center;
        border-radius: 5px;
    }
    .image-logo {
      width: 200px;
      height: 100px;
    }   

    .player-card {
      display: flex;
      align-items: center;
      width: 330px; 
      height: 80px;     
      margin-top: 20px; 
      box-shadow: 4px 4px 8px rgb(219, 40, 40);  
      padding-right: 10px;
    }
    
    .player-card img{
    margin: 0 20px; 
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    background-color: rgba(105, 105, 105, 0.541);
    justify-items: center;
    
    }
    .player-card-goalie{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%; 
      height: 80px;     
      margin-top: 20px; 
      margin-bottom: 20px;
      padding-left: 20px;
      box-shadow: 4px 4px 8px rgb(219, 40, 40);  
      border-left: 1px #ccc;
    }

    .player-card-goalie img{
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    background-color: rgba(105, 105, 105, 0.541);
    justify-items: center;
    }    

    .matchupContainer{
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 100px;
      border: 2px solid #ccc;
      padding-bottom: 50px;
    }

    .matchupPoints {
      font-size: 32px;
      line-height: 32px;
      font-weight: 900;
      text-align: center;
      width: 130px;
      display: flex;
      align-items: center;
    }
    
    .matchupPlayer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;
      margin-right: 50px;
    }
    .matchupPlayer-goalie {
      align-items: center;
      margin-left: 50px;
      justify-items: center;
    }

    .matchupPlayerInfo{
      display: flex;
      flex-direction: column;      
      margin-left: 12px;
      margin-right: 0;    
      font-size: 16px;
      width: 80px;
    }

    .matchupHeader{
      margin-left: 50px;
      margin-right: 50px;
      
    }

    .matchupHeader ul{
      list-style-type: none;
      font-size: 25px;
    }
    .joueursContainer{
     
     padding-bottom: 50px;
     margin: 100px;
    }

    .goalerInfo{
      display: flex;    
    }

    .goalerInfo div{
      width: 100px;
    }
    .matchupGoalieInfo{
      display: flex;
      flex-direction: column;      
      margin-left: 12px;
      margin-right: 0;     
      width: 120px;
      font-size: 18px;
    }

    .matchupGoalieInfo div{
      text-align: center;
    }
   

  </style>
  
</head>
<body>
  <!--navbar-->
  <%- include('composant/navbar') %>
  <!--navbar-->

  <div class="container" >
    <div class="container-awayTeam ">
        <div ><img class="image-logo" src="<%= game.awayTeam.logo %>" alt="<%= game.awayTeam.abbrev %>"></div>
        <div>
            <h2>
                <div >
                    <div><%= game.awayTeam.commonName.default %></div>
                    <div><%= game.awayTeam.placeNameWithPreposition.fr %></div>
                    <div><%= game.awayTeam.record %></div>                   
                </div>
            </h2>
        </div>
        
    </div>

    <div class="boxscore">
        
        <div class="gamestate"><h1>
            <div><%= game.gameState %></div>
            <div><%= game.gameDate %></div>
        </div>
       
    </div>
    
    <div  class="container-homeTeam">         
            
            <div>
                <h2>
                    <div style="display: block;">
                        <div><%= game.homeTeam.commonName.default %></div>
                        <div><%= game.homeTeam.placeNameWithPreposition.fr %></div>
                        <div><%= game.homeTeam.record %></div>                   
                    </div>
                </h2>
            </div>        
            <div ><img class="image-logo" src="<%= game.homeTeam.logo %>" alt="<%= game.homeTeam.abbrev %>"></div>       
    </div>
  </div>     

<div class="joueursContainer" >
          <!--DIV qui contient les joueurs a surveiller  et l'entête-->
    <div class="matchupContainer">
        <div class="matchupHeader" >
          <div>
            <ul >
              <li ><h2>Joueur à surveiller</h2></li>
              <li><h4>5 Derniers matchs</h4></li>
            </ul> 
          </div>
            <hr style="background-color: #ccc;">
          <div style="display: flex;">
            <div style="width: 100%;"><img style="width: 130px;" src="<%= game.awayTeam.logo %>" alt="<%= game.awayTeam.abbrev %>"></div>
            <div><img style="width: 130px;" src="<%= game.homeTeam.logo %>" alt="<%= game.homeTeam.abbrev %>"></div>
          </div>
        </div>
    
        <div><!--DIV qui contient les joueurs a surveiller  et l'entête-->
          <div class="matchupPlayer"><!--Points-->
            <div>
              <% game.matchup.skaterComparison.leaders.forEach(leader => { %>
                <% if (leader.category === 'points') { %>
                  <div class="player-card">
                    <div><img src="<%= leader.awayLeader.headshot %>" alt="<%= leader.awayLeader.name.default %>"></div>
                    <div style="display: flex; ">
                      <div class="matchupPlayerInfo">
                        <div><%= leader.awayLeader.firstName.default %></div>
                        <div><%= leader.awayLeader.lastName.default %></div>
                        <div>#<%= leader.awayLeader.sweaterNumber %><strong>&nbsp;--&nbsp;</strong><%= leader.awayLeader.positionCode %></div>
                      </div>
                      <div class="matchupPoints" style="justify-content: flex-end;"><%= leader.awayLeader.value %></div>
                    </div>
                  </div>
                <% } %>
              <% }) %>          
            </div>
            <div class="matchupPlayer"><h2>Points</h2></div>
            <div>
              <% game.matchup.skaterComparison.leaders.forEach(leader => { %>
                <% if (leader.category === 'points') { %>
                  <div class="player-card">                
                      <div style="display: flex; width: 80%;">
                      <div class="matchupPoints" style="padding-left:15px ;"><%= leader.homeLeader.value %></div>
                    <div class="matchupPlayerInfo" style="align-items: flex-end;">
                      <div><%= leader.homeLeader.firstName.default %></div>
                      <div><%= leader.homeLeader.lastName.default %></div>
                      <div style="display:flex ;"><%= leader.homeLeader.positionCode %><strong>&nbsp;--&nbsp;</strong>#<%= leader.homeLeader.sweaterNumber %></div>
                    </div>                 
                  </div>
                  <div  style="justify-content: end;"><img src="<%= leader.homeLeader.headshot %>" alt="<%= leader.homeLeader.name.default %>"></div>
                  </div>
                <% } %>
              <% }) %> 
            </div>
          </div><!--Fin de matchupPlayer: Points-->

        <div class="matchupPlayer">
          <div>
            <% game.matchup.skaterComparison.leaders.forEach(leader => { %>
              <% if (leader.category === 'goals') { %>
                <div class="player-card">
                  <div><img src="<%= leader.awayLeader.headshot %>" alt="<%= leader.awayLeader.name.default %>"></div>
                  <div style="display: flex;">
                    <div class="matchupPlayerInfo">
                      <div><%= leader.awayLeader.firstName.default %></div>
                      <div><%= leader.awayLeader.lastName.default %></div>
                      <div>#<%= leader.awayLeader.sweaterNumber %><strong>&nbsp;--&nbsp;</strong><%= leader.awayLeader.positionCode %></div>
                    </div>
                    <div style="justify-content: end;" class="matchupPoints"><%= leader.awayLeader.value %></div>
                  </div>
                </div>
              <% } %>
            <% }) %>          
          </div>
          <div class="matchupPlayer"><h2>Buts</h2></div>
          <div>
            <% game.matchup.skaterComparison.leaders.forEach(leader => { %>
              <% if (leader.category === 'goals') { %>
                <div class="player-card">                
                  <div style="display: flex; width: 80%;">
                    <div class="matchupPoints" style="padding-left:15px ;"><%= leader.homeLeader.value %></div>
                    <div class="matchupPlayerInfo" style="align-items: flex-end;">
                      <div><%= leader.homeLeader.firstName.default %></div>
                      <div><%= leader.homeLeader.lastName.default %></div>
                      <div style="display:flex ;"><%= leader.homeLeader.positionCode %><strong>&nbsp;--&nbsp;</strong>#<%= leader.homeLeader.sweaterNumber %></div>
                    </div>                 
                  </div>
                  <div  style="justify-content: end;"><img src="<%= leader.homeLeader.headshot %>" alt="<%= leader.homeLeader.name.default %>"></div>
                </div>
              <% } %>
            <% }) %> 
          </div>
        </div><!--Fin de matchupPlayer: Buts-->

        <div class="matchupPlayer">
          <div>
            <% game.matchup.skaterComparison.leaders.forEach(leader => { %>
              <% if (leader.category === 'assists') { %>
                <div class="player-card">
                  <div><img src="<%= leader.awayLeader.headshot %>" alt="<%= leader.awayLeader.name.default %>"></div>
                  <div style="display: flex;">
                    <div class="matchupPlayerInfo">
                      <div><%= leader.awayLeader.firstName.default %></div>
                      <div><%= leader.awayLeader.lastName.default %></div>
                      <div>#<%= leader.awayLeader.sweaterNumber %><strong>&nbsp;--&nbsp;</strong><%= leader.awayLeader.positionCode %></div>
                    </div>
                    <div class="matchupPoints" style="justify-content: end;"><%= leader.awayLeader.value %></div>
                  </div>
                </div>
              <% } %>
            <% }) %>          
          </div>
          <div class="matchupPlayer"><h2>Passes</h2></div>
          <div>
            <% game.matchup.skaterComparison.leaders.forEach(leader => { %>
              <% if (leader.category === 'assists') { %>
                <div class="player-card">                
                  <div style="display: flex; width: 80%;">
                    <div class="matchupPoints" style="padding-left:15px ;"><%= leader.homeLeader.value %></div>
                    <div class="matchupPlayerInfo" style="align-items: flex-end;">
                      <div><%= leader.homeLeader.firstName.default %></div>
                      <div><%= leader.homeLeader.lastName.default %></div>
                      <div style="display:flex ;"><%= leader.homeLeader.positionCode %><strong>&nbsp;--&nbsp;</strong>#<%= leader.homeLeader.sweaterNumber %></div>
                    </div>                 
                  </div>
                  <div  style="justify-content: end;"><img src="<%= leader.homeLeader.headshot %>" alt="<%= leader.homeLeader.name.default %>"></div>
                </div>
              <% } %>
            <% }) %> 
          </div><!--Fin de matchupPlayer: Passes-->   
      </div><!--Fin de matchupContainer-->
    </div>
  </div>
  <!--Fin de joueur a surveiller-->

  <!--Gardienn a surveiller-->
  <div class="matchupContainer">
    <div class="matchupHeader" >
      <div>
        <ul >
          <li ><h2>Gardiens</h2></li>
          <li><h4>Statistique de la saison</h4></li>
        </ul> 
      </div>
        <hr style="background-color: #ccc;">
      <div style="display: flex;">
        <div style="width: 100%;"><img style="width: 130px;" src="<%= game.awayTeam.logo %>" alt="<%= game.awayTeam.abbrev %>"></div>
      </div>
      <hr style="background-color: #ccc;">
    </div>

    <div>
      <div class="matchupPlayer-goalie">        
          <% game.matchup.goalieComparison.awayTeam.leaders.slice(0, 2).forEach(leader => { %>   
                    
              <div class="player-card-goalie">
                <div><img  src="<%= leader.headshot %>" alt="<%= leader.name.default %>"></div>
                <div style="display: flex; align-items: center; ">
                  <div class="matchupGoalieInfo">
                    <div><%= leader.firstName.default %></div>
                    <div><%= leader.lastName.default %></div>
                    <div>#<%= leader.sweaterNumber %></div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.record %></div>
                    <div>W-L-OT</div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.gaa %></div>
                    <div>But Alloué</div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.savePctg %></div>
                    <div>ARR%</div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.shutouts %></div>
                    <div>Jeu Blanc</div>
                  </div>
                </div>
              </div>
          <% }) %>          
      </div><!--Fin de matchupPlayer: Points-->

      <div class="matchupHeader" >    
        <hr style="background-color: #ccc;">
        <div style="display: flex;">
          <div ><img style="width: 130px;" src="<%= game.homeTeam.logo %>" alt="<%= game.homeTeam.abbrev %>"></div>
        </div>
        <hr style="background-color: #ccc;">
      </div>

      <div class="matchupPlayer-goalie" >
          <% game.matchup.goalieComparison.homeTeam.leaders.slice(0, 2).forEach(leader => { %>   
              <div class="player-card-goalie">
                <div><img  src="<%= leader.headshot %>" alt="<%= leader.name.default %>"></div>
                <div style="display: flex; align-items: center;">
                  <div class="matchupGoalieInfo">
                    <div><%= leader.firstName.default %></div>
                    <div><%= leader.lastName.default %></div>
                    <div>#<%= leader.sweaterNumber %></div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.record %></div>
                    <div>W-L-OT</div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.gaa %></div>
                    <div>But Alloué</div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.savePctg %></div>
                    <div>ARR%</div>
                  </div>
                  <div class="matchupGoalieInfo">
                    <div><%= leader.shutouts %></div>
                    <div>Jeu Blanc</div>
                  </div>
                </div>
              </div>                          
          <% }) %>    
      </div><!--Fin de matchupPlayer: Points-->         
  </div><!--Fin de matchupContainer-->
</body>
</html>
