<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/resultat.css">
  <title>Liste des Équipes</title>
</head>
<body >
  <!--navbar-->
  <%- include('composant/navbar') %>
  <!--navbar-->
  

<div class="container" >
    <div class="container-awayTeam ">
        <div ><img class="image-logo" src="<%= game.awayTeam.logo %>" alt="<%= game.awayTeam.abbrev %>"></div>
        <div>
            <h1>
                <div >
                    <div><%= game.awayTeam.commonName.default %></div>
                    <div><%= game.awayTeam.placeNameWithPreposition.fr %></div>
                    <div>Tir au buts: <%= game.awayTeam.sog %></div>                   
                </div>
            </h1>
        </div>
        
    </div>

    <div class="boxscore">
        <div class="score-awayTeam"><h1><%= game.awayTeam.score %></h1></div>    
        <div class="gamestate"><h1>
            <div><h5><%= game.gameState %></h5></div>
            <div><h4><%= game.clock.timeRemaining %></h4></div>
        </div>
        <div class="score-homeTeam"><h1><%= game.homeTeam.score %></h1></div>
    </div>
    
    <div  class="container-homeTeam">         
            
            <div>
                <h1>
                    <div style="display: block;">
                        <div><%= game.homeTeam.commonName.default %></div>
                        <div><%= game.homeTeam.placeNameWithPreposition.fr %></div>
                        <div>Tir au buts: <%= game.homeTeam.sog %></div>                   
                    </div>
                </h1>
            </div>        
            <div ><img class="image-logo" src="<%= game.homeTeam.logo %>" alt="<%= game.homeTeam.abbrev %>"></div>       
    </div>
</div>



<div class="box">
    <h2>Buts Marqués</h2>
    <% game.summary.scoring.forEach(scoring => { %>
        <hr style="border-top: 2px solid #acacac; margin-top: 30px;">
        <h3><%= scoring.periodDescriptor.number %> Période</h3>
        <% scoring.goals.forEach((goal, index) => { %>
            <div class="player-card">
                <div>
                    <img src="<%= goal.headshot %>" alt="<%= goal.name.default %>">
                </div>
                <div class="goal-card">
                    <div ><h3><%= goal.name.default %>(<%= goal.goalsToDate %>)</h3></div>
                    <div >
                        <% if (goal.assists && goal.assists.length > 0) { %>
                            <% goal.assists.forEach(assist => { %>
                                <div style="display: inline-block;">                                    
                                    <%= assist.name.default %>(<%= assist.assistsToDate %>)
                                </div>
                            <% }) %>
                        <% } else { %>
                            <div>No assists</div>
                        <% } %>
                    </div>
                </div>
                <div class="goal-card-time"><%= goal.timeInPeriod %></div>
                <div class="goal-card-time"><%= goal.shotType %></div>
                
            </div>
        <% }) %>
    <% }) %>
</div>  
</body>
</html>
